.btnSB{    
 width:  59%;
 height: 100%;    
 color: white;
 float: right;
 border-radius: 25px;
}

.img{
    margin-top:15px;
    width:100px;
}

.btnSBCarrito{
    background-color: darkorange;
}

.btnSBTop{
    background-color: blueviolet;
}

.libro{
    margin-bottom: 30px;
}
